<style>

    section {
        position: relative;
        background: #CDD7F4;
        font-family: "nunito-sans", sans-serif;
        padding: 2em 0 2em 2em;
    }

    .explainer {
      position: relative;
      padding-left: 2em;
      border-left: 10px solid white;
      width: 590px;
      max-width: 90%;
    }

    h2 {
      color: #FFF;
      margin-top: 0px;
      font-size: 2.8em;
      letter-spacing: 0.012em;
    }

    p {
      margin-bottom: 0px;
      font-size: 1.8em;
      line-height: 1.2em;
      letter-spacing: 0.03em;
      color: #3F3F3F;
    }
    @media all and (max-width: 660px) {
      section {
        font-size: 12px;
      }
      .explainer {
        width: 390px;
        border-left: 6px solid white;
        padding-left: 1em;
      }
    }

    .follows-graph {
      position: absolute;
      left: 50%;
      width: 50%;
      top: 0;
      overflow: hidden;
      height: 100%;
    }

    .follows-graph img {
      height: 100%;
      display: block;
    }

</style>

<section>
  <div class="follows-graph">
    <img src="images/follow_graph.png"/>
  </div>
  <div class="explainer">
    <h2>
      Decentralised
    </h2>
    <p>
      Taken literally, "decentralisation"  just means "not centralised". Gossip is collected via a 2 or 3 step  peer-to-peer social connection
    </p>
  </div>
</section>
