<style>
  /*
  constants
  --------------------------------------------------------
  */
  .bulletin {
    /* colors */
    --textDark: #030303;
    --compliment: #818ceb;
    --complimentDark: #6c71de;

    /* dimensions */
    --width: 66.55em;
    --space: 5em;

    /* type */
    /* we'll set font-size in px so that computing em values is straightforward */
    --alpha: 49px;
    --beta: 45px;
    --gamma: 35px;
    --delta: 20px;

    --lead: 1.178;
  }

  /* reduce font-size as viewport narrows */
  @media all and (max-width: 980px) {
    .bulletin {
      /* type */
      --alpha: 40px;
      --beta: 36px;
      --gamma: 28px;
    }
  }

  @media all and (max-width: 660px) {
    .bulletin {
      /* type */
      --alpha: 32px;
      --beta: 29px;
      --gamma: 22px;
      --delta: 16px;
    }
  }

  /*
  base
  --------------------------------------------------------
  */
  /* apply a natural box model to everything */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4 {
    line-height: 1.163;
    margin: 0;
  }

  h2 {
    font-size: var(--alpha);
    font-weight: 900;
    color: var(--textDark);
    margin-bottom: 0.857em;
  }

  h3 {
    font-family: "Avenir next", "nunito-sans", sans-serif;
    font-weight: 900;
    font-size: var(--beta);
    color: var(--compliment);
    margin-bottom: 0.933em;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  a {
    transition: opacity 0.2s ease;
  }

  a:hover {
    opacity: 0.86;
  }

  /*
  bulletin
  --------------------------------------------------------
  */
  .bulletin {
    /* include horizontal padding in overall width */
    max-width: calc(var(--width) + (var(--space) * 2));

    /* we establish the base font-size for the component here, which will be equal to 1em from here on */
    font-size: var(--delta);
    line-height: 1.35;
    color: var(--complimentDark);

    padding: 0 var(--space) 4em;
    margin: 0 auto;
  }

  /*
  header
  ----------------------------
  */
  .bulletin--header {
    text-align: center;
    padding-top: 6em;
    margin-bottom: 5.8em;
  }

  .bulletin--header p {
    font-family: "monaco", "source-code-pro", monospace;
    font-size: var(--gamma);
    color: var(--complimentDark);
    text-align: center;
  }

  @media all and (max-width: 980px) {
    .bulletin--header {
      margin-bottom: 5em;
    }
  }

  /*
  grid
  ----------------------------
  */
  .bulletin--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @supports (display: grid) {
    .bulletin--grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2.65em;
      grid-row-gap: 1.5em;
    }
  }

  .bulletin--item {
    width: calc((100% / 3) - (2.65em / 2));
    margin: 0;
  }

    @supports (display: grid) {
      .bulletin--item {
        width: auto;
      }
    }

  .bulletin--item a {
    display: block;
  }

  .bulletin--caption {
    padding-top: 1.1em;
  }

  .bulletin--caption p {
    font-family: "monaco", "source-code-pro", monospace;
    font-size: var(--delta);
    color: var(--complimentDark);
    margin-bottom: 1.35em;
  }

  @media all and (max-width: 980px) {
    .bulletin--item {
      width: calc((100% / 2) - (2.65em / 2));
    }

    @supports (display: grid) {
      .bulletin--grid {
        grid-template-columns: 1fr 1fr;
      }

      .bulletin--item {
        width: auto;
      }
    }
  }

  @media all and (max-width: 660px) {
    @supports (display: grid) {
      .bulletin--grid {
        display: block;
      }
    }

    .bulletin--item {
      width: auto;
    }

    .bulletin--item + .bulletin--item {
      padding-top: 1.5em;
    }
  }
</style>

<section class="bulletin">
  <header class="bulletin--header">
    <h2>The Decentralised Web</h2>
    <h3>It's time to build our own Internet</h3>
    <p>We’re talking about it and gossiping on it</p>
  </header>

  <div class="bulletin--grid">
    <figure class="bulletin--item">
      <a href="https://letstalkbitcoin.com/blog/post/epicenter-dominic-tarr-secure-scuttlebutt-the-localized-but-distributed-social-network" target="_blank">
        <img src="/images/placeholder.jpg" alt="podcast thumbnail">
        <div class="bulletin--caption">
          <p>Secure Scuttlebutt: The Localized but Distributed Social Network<br>Dominic Tarr on Epicenter Bitcoin</p>
          <p>2019</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://www.youtube.com/watch?v=5R0x_WRZdFM" target="_blank">
        <img src="/images/video-zelf.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>Scuttlebutt and a Decentralized Future <br> @zelf @ Radical Networks</p>
          <p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://www.youtube.com/watch?v=8GE5C9-RUpg" target="_blank">
        <img src="/images/video-andre1.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>Reinvent the Social Web <br> André Staltz @ FullStackFest </p>
          <p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://vimeo.com/283993534" target="_blank">
        <img src="/images/video-dinosaur.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>A tour of the Scuttlebutt Ecosystem<br>Mikey @ Dweb</p>
          <p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://dat-cast.hashbase.io/DCUP0.html?ep=CGMRJ5UU-NNX9A4I" target="_blank">
        <img src="/images/placeholder.jpg" alt="podcast thumbnail">
        <div class="bulletin--caption">
          <p>SSB on Datcast<br>noffle</p>
          <p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://www.decentralizedweb.net/videos/tech-talk-what-is-the-meaning-of-decentralization/" target="_blank">
        <img src="/images/video-dominic.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>What is the meaning of "decentralization"? <br> Dominic Tarr @ DWebSummit</p>
          <p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://www.youtube.com/watch?v=UjfWAbGfPh0" target="_blank">
        <img src="/images/video-andre2.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>It's time to build our own Internet <br> André Staltz @ TEDxGeneva</p>
	<p>2018</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://coolguy.website/writing/the-future-will-be-technical/" target="_blank">
        <img src="/images/text-zach.gif" alt="writing thumbnail">
        <div class="bulletin--caption">
          <p>The Future will be Technical<br>Zach Mandeville</p>
          <p>2017</p>
        </div>
      </a>
    </figure>
    <figure class="bulletin--item">
      <a href="https://www.youtube.com/watch?v=P5K18XssVBg" target="_blank">
        <img src="/images/video-mix.jpg" alt="video thumbnail">
        <div class="bulletin--caption">
          <p>Embracing Subjectivity <br> Mix Irving @ New Zealand JS Conference</p>
          <p>2017</p>
        </div>
      </a>
    </figure>
  </div>
</section>
