<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: #EBCCF0;
        padding: 4em;
        font-family: "nunito-sans", sans-serif;
        color: #4D5B68;
    }

    p {
      font-size: 25px;
      align-self: center;
    }

    .quotes {
      color: #FFF;
      font-family: 'Times New Roman', sans serif;
      font-size: 9em;
      line-height: 86px;
      align-self: flex-start;
    }
    @media all and (max-width: 600px) {
      section {
        padding: 2em;
      }
      span {
        display: none;
      }
    }

    .flex-end {
      align-self: flex-end;
    }

</style>

<section>
  <span class="quotes">❝</span>
  <p>
    Scuttlebutt can be transformative for society, decentralizing and enabling
    local community development free of big corp. Scuttlebutt is a fast growing
    decentralized social network. As an alternative to the large corporate social
    networks it enables autonomy for the users and a free zone from big data
    harvesting...
  </p>
   <span class="quotes flex-end">❞</span>
</section>
