<script>
  import Button from '../../components/Button.svelte';
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
  .splash {
    /* colors */
    --textDark: #030303;
    --compliment: #818ceb;
    --complimentDark: #606ee6;

    /* dimensions */
    --width: 66.55em;
    --space: 5em;


    /* type */
    /* we'll set font-size in px so that computing em values is straightforward */
    --alpha: 89px;
    --beta: 68px;
    --gamma: 36px;;
  }

  /* reduce font-size as viewport narrows */
  @media all and (max-width: 980px) {
    .splash {
      /* type */
      --alpha: 80px;
      --beta: 66px;
      --gamma: 28px;
    }
  }

  @media all and (max-width: 660px) {
    .splash {
      /* type */
      --alpha: 62px;
      --beta: 39px;
      --gamma: 22px;
      --delta: 16px;
    }
  }

  @media all and (max-width: 375px) {
    .splash {
      /* type */
      --alpha: 32px;
      --beta: 29px;
      --gamma: 22px;
      --delta: 16px;
    }
  }

  section {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
  }
  h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: var(--alpha);
  }
  h2 {
    font-size: var(--beta);
    color: var(--complimentDark);
    margin: 0.2em;
  }
  h3 {
    font-size: var(--gamma);
    color: var(--compliment);
  }
  p {
    font-family: "source-code-pro", monospace;
    font-size: 19px;
    text-align: center;
    color: var(--complimentDark);
  }
	div :global(a):hover {
	 text-decoration: none;
   }
  .pink {
    color: #c11add;
  }
  .splash {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 950px;
    margin-top: 0em;
  }
  .Aligner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
</style>

<section>
  <div class='splash'>
    <h1 style="margin-bottom: 0em;">Scuttlebutt</h1>
    <h2 style="margin-top: 0em;">p2p social network</h2>
    <h3 style="margin-top: 0em;">secure peer-to-peer platform</h3>

    <div class='Aligner' style="margin-top: -2em;">
      <div>
        <img src="/images/hermiepatchwork.svg" alt="double hermie!!">
      </div>
      <div>
        <NavLink to="/download"><Button text={'Get Started'}/></NavLink>
      </div>
      <div>
        <img src="/images/hermiepatchbay.svg" alt="hermie!">
      </div>
    </div>
  </div>
</section>
