<script>
  import DottedButton from '../../components/DottedButton.svelte';
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #848EE6;
    padding: 4em;
  }

  h1, h2 {
      text-align: center;
  }

  h1 {
    color: #FFF;
    font-size: 2rem;
    margin: 10px;
  }
  h2 {
    font-weight: initial;
    color: #fff;
    font-size: 2em;
    text-align: left;
  }
  h3 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin: 10px;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 80%;
  }
  .item {
    padding: 0 2em;
    vertical-align: middle;
  }

  @media all and (max-width: 980px) {
    .item {
      padding: 0 2em;
    }
  }

  @media all and (max-width: 660px) {
    .row {
      flex-direction: column;
    }
  }
</style>

<section>
  <h1>Values</h1>
  <div class="row">
    <div class="item">
      <h2>Local First</h2>
    </div>
    <div class="item">
      <h2>Offline Usable</h2>
    </div>
    <div class="item">
      <h2>Open Source</h2>
    </div>
  </div>
    <div class="row">
      <NavLink to="/values"><DottedButton text={'See more'} /></NavLink>
    </div>
</section>
