<style>
  section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3em 0;
  }
  div {
    max-width: 800px;
    padding: 0 3em;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 15px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0px 30px;
    text-align: center;
  }
  p, li {
  	font-size: 20px;
    text-align: left;
  }
  span {
    font-weight: 500;
  }
</style>

<section>
  <div>

  <h1>Working On</h1>
  <h2>Diversity & Inclusion</h2>

  <p> <span>Free Libre Open Sourced Software (FLOSS)</span> are under the same systemic structures of powers and access that influence all discliplines and structures be it STEM or Agriculture. </p>
  <p>We continue to explore how decentralized software and community efforts can be engaged in <span>Diversity and Inclusiveness (D&I)</span> and in prioritising the voices, concerns, and self-determination of First Nations, Aboriginal, Black, Indigenous, People of Colour (BIPOC), women, non-binary and trans folk. </p>

  <p>There are many of us sharing of arts, poetry, research and conversations in vulnerability and bravery, for our collective learning in detangling and understanding the many forces that affect technology. We are actively trying to both understand and transform narratives that determine who gets to build tech and who gets impacted.</p>

  <p>Within Scuttlebutt, there's transparency in our work to support and fund folks of diversity, research in decentralised sociotechnical communities, and in self initiated community education and reading groups. </p>
  <p>This includes: </p>

  <ul>
    <li>Academic ethnographic and technical research on decentralised communities and software</li>
    <li>D&I Funding - organising scholarships and travel funds to support folks to attend physical events like Scuttle Camp and DWeb Camp </li>
    <li>Community reading and learning groups on white priviledge, decolonisation, gender dynamics and more</li>
    <li>Exploring funding and community engagements with <span>Scuttle-ships</span> - Scuttlebutt Scholarhips - this is just getting started. More to come on this later</li>
  </ul>

  <p>As a decentralized community there's continued learnings and active questioning in our responsibility and our abilities to respond. Much of it is about challenging our ideas and narratives of dominant norms within technology and society, in resisting extractive, commodifying, hyper growth, and centralising tendencies - to decentralized practices of localised empowerment, creativity, healing, regeneration and reconnection.</p>

  </div>
</section>
