<style>
  :root {
    --main_text_color: #2C2C2C;
    --light_accent_text_color: #818CEB;
    --med_accent_text_color: #7e88dd;
    --dark_accent_text_color: #606EE6;
    --soft_text_color: #8C8C8C;
    --soft_border_color: #CCC;
    --bg_color_1: #FFF;
    --bg_color_2: #848EE6;
    --bg_color_3: #EBCCF0;
    --pink_color: #C11ADD;
    --button_color: #FFFF80;
    --button_shadow: #F2F240;
    --chill_button: #3646D9;
    --button_soft_shadow: #F4F4F4;
    --button_softest_shadow: #DDDDDD;
    --button_border_color: #666;
          --comfy_font_size: 26px;
  }
  section {
    background-color: var(--bg_color_2);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4em 3em 2em;
    min-height: 20vh;
  }
  div {
   max-width: 800px;
  }
  h1 {
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    margin: 10px;
  }
  p {
    color: #FFF;
  }

  img {
    max-width:100%;
    max-height:100%;
    border-radius: 25px;
    margin: 2em 0;
  }
</style>

<section>
  <h1>SSB Princples</h1>

  <div>
  <p>Scuttlebutt is a principles-driven technology.</p>


  <p>We have been gathering quotes from various people who had insights on what defines the ethos of Scuttlebutt. As a result, now we have an assorted list of scattered properties that we consider important. That list is a evidence that we just started figuring out what are principles are, and now that we have some material, we can try to rephrase them to make it easier for anyone to read and assimilate what all of that means.</p>

  <p>In a way they are a *soft* ware stack of principles.</p>

  <img src="images/principles.jpg" alt="image of principles stack">

  </div>
</section>
