<style>
section {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #848EE6;
  padding: 4em 3em 2em;
  min-height: 80vh;
}
h1 {
  text-align: center;
  color: #FFF;
  font-size: 2.5rem;
  padding: .5em 0 0;
}
h2 {
  font-weight: initial;
  color: #fff;
  font-size: 2em;
  text-align: left;
}
h3 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
}
p {
  font-size: 20px;
  text-align: left;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  vertical-align: middle;
}
.item {
  padding: 0 4%;
  width: 410px;
  display: inline-block;
  vertical-align: middle;
}
@media all and (max-width: 554px) {
  .row {
    display: block;
  }
  .item {
    width: 100%;
    padding: 0;
  }
}
</style>

<section>
  <h1>Values</h1>
  <div class="row">
    <div class="item">
      <h2>Local First</h2>
      <p>Local-first publishing so that each person owns their words and actions. All your messages live locally on your computer.</p>
    </div>
    <div class="item">
      <h2>Offline Usable</h2>
      <p>It’s completely usable while offline and syncs when connected to a local network, a friend or wifi.</p>
    </div>
    <div class="item">
      <h2>Open Source</h2>
      <p>Scuttlebutt has a large community of global users who together use and build the platform.</p>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <h2>Intersectional</h2>
      <p> Commitment with open hearts and minds in understanding systemic structures that create intersecting vulnerabilities and powers. We're reflecting on what access, priviledge, and inclusiveness means.</p>
    </div>
    <div class="item">
      <h2>Decentralised</h2>
      <p>Taken literally decentralised just means not centralised. There's no central authority holding all the data.  'Gossip' is collected via 2 or 3 steps over a peer to peer social connection. </p>
    </div>
    <div class="item">
      <h2>Secure</h2>
      <p>Each message is cryptographically signed. As well as this, 'Humanity' is an essential part of our tech stack. The social connection is peer to peer to peer, and information is shared over this network of trust. </p>
    </div>
  </div>
</section>
