<style>
    section {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      background-color: #848EE6;
      padding: 4em 0 2em;
      min-height: 80vh;
      align-items: center;
      text-align: left;
    }
    h1 {
      text-align: center;
      color: #FFF;
      font-size: 2.5rem;
      padding: 10px;
    }
    h2 {
      font-weight: initial;
      color: #fff;
      font-size: 27px;
      text-align: center;
    }
    h3 {
      font-family: "Avenir next", "nunito-sans", sans-serif;
      text-align: center;
      color: #FFF;
      font-size: 1.5rem;
      padding: 10px;
    }

    ul {
        list-style-type: none;
        text-align: center;
        padding: 0 10% 1em;
    }

    li {
        font-size: 20px;
        text-align: left;
        padding: .2em 0;
    }

    .ecosystem {
      max-width: 800px;
    }

    a, span {
      color: black;
      font-weight: 600;
      font-family: "Avenir next", "nunito-sans", sans-serif;
    }

    a:hover {
      color: white;
    }
</style>


<section>
    <div class='ecosystem'>
        <h1>Our P2P Ecosystem</h1>
        <h2>a quick overview</h2>

        <ul>
            <li><h3>Apps</h3></li>
            <li><a
            href="https://github.com/ssbc/patchwork"> Patchwork </a>- a
            decentralized messaging and sharing app built on top of Secure
            Scuttlebutt</li>
            <li><a
            href="https://github.com/ssbc/patchbay"> Patchbay </a>-
            an alternative Secure Scuttlebutt client interface that is fully
            compatible with Patchwork</li>
            <li><a
            href="https://git.scuttlebot.io/%25YAg1hicat%2B2GELjE2QJzDwlAWcx0ML%2B1sXEdsWwvdt8%3D.sha256"> Patchfoo</a> -
            HTML based client designed for low power/resource computers</li>
            <li><a href="https://www.manyver.se/">Manyverse</a> - a
            social network off the grid</li>
        </ul>

        <ul>
            <li><h3>Initiatives</h3></li>
            <li><span>Open App Ecosystem</span></li>
            <li><a href="https://github.com/ssbc/village-tracker">Village Tracker</a> -  community volunteer coordination project</li>
            <li><span>SSB Safety Club</span> - a working group for safety, abuse, harassment, and accessibility issues</li>
            <li><span>#Rangers</span> - a dedicated and coordinated approach to build better moderation tools, make scuttlebutt more accessible + safe for minorities</li>
            <li><a href="https://darkcrystal.pw/"> Dark Crystal </a>-
            P2P secret sharing</li>
            <li><a
            href="https://viewer.scuttlebot.io/@iVPi/B73hJSpsUB8XbSnlxe3NembPXLjOfIexlYdgJA=.ed25519"> The
            Weekly </a>- human-curated weekly
            summary of global Scuttlebutt activity </li>
        </ul>

        <ul>
            <li><h3>Ventures</h3></li>
            <li><span>Sunrise Choir</span></li>
            <li><span>Peach Cloud</span></li>
            <li><span>Verse</span></li>
        </ul>

    </div>
</section>
