<script>
	import Splash from './home/Splash.svelte';
	import Values from './home/Values.svelte';
	import Ecosystem from './home/Ecosystem.svelte';
	import DecentralizedMiniExplainer from './home/DecentralizedMiniExplainer.svelte';
	import ProofWeLegit from './home/ProofWeLegit.svelte';
	import Quote from './home/Quote.svelte';
	import Contributors from './home/Contributors.svelte';
	import Footer from '../components/Footer.svelte'
</script>

<svelte:head>
    <title>Scuttlebutt</title>
</svelte:head>

<div>
	<Splash />
	<Values />
	<ProofWeLegit />
	<DecentralizedMiniExplainer />
	<Quote />
	<Contributors />
	<Ecosystem />
	<Footer />
</div>
