<script>
  import Values from './values/Values.svelte';
  import Diversity from './values/Diversity.svelte';
  import Principles from './values/Principles.svelte';
</script>

<Values />
<Diversity />
<Principles />
