<script>
  export let text;
</script>

<style>
  button {
    padding: 3px 15px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px dashed rgba(255, 255, 255, 0.44);
    margin: 1em 0 0;
    text-align: center;
  }
  button:hover {
    border: 2px dashed #fff;
    background-color: rgba(111, 123, 230, 0.62);
  }
  h3 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
  }
</style>


<button><h3>{text}</h3></button>
